<!doctype html>

<head>
    <title>{% block title %}{% endblock %} </title>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">



        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

        <link href="{{url_for('static', filename ='css/bootstrap.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename ='css/bootstrap-icons.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename ='css/owl.carousel.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename ='css/owl.theme.default.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename ='css/tooplate-gotto-job.css')}}" rel="stylesheet">
    {% block header %}{% endblock %}
    <script>{% block script %}{% endblock %}</script>
</head>


<body>

<section class="content">
  {% block content %}{% endblock %}
</section>
<footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-12 mb-3">
                        <div class="d-flex align-items-center mb-4">
                            <img src="{{url_for('static', filename ='images/logo.png')}}" class="img-fluid logo-image">

                            <div class="d-flex flex-column">
                                <strong class="logo-text">UIC</strong>
                                <small class="logo-slogan">Graduation Placement Service</small>
                            </div>
                        </div>

                        <p class="mb-2">
                            <i class="custom-icon bi-globe me-1"></i>

                            <a href="#" class="site-footer-link">
                                www.uic.edu.cn
                            </a>
                        </p>

                        <p class="mb-2">
                            <i class="custom-icon bi-telephone me-1"></i>

                            <a href="tel: 305-240-9671" class="site-footer-link">
                                133-8645-9939
                            </a>
                        </p>

                        <p>
                            <i class="custom-icon bi-envelope me-1"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                q030026152@mail.uic.edu.cn
                            </a>
                        </p>

                    </div>

                    <div class="col-lg-2 col-md-3 col-6 ms-lg-auto">
                        <h6 class="site-footer-title">Company</h6>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Mango</a></li>

                        </ul>
                        <h6 class="site-footer-title">Course</h6>
                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">SE & SDW</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="site-footer-title">Members</h6>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Wang Xinyu</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Xu Ziheng</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Yang Yicheng</a></li>
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Liu Leqi</a></li>
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Pan Jiayi</a></li>
                        </ul>
                    </div>



                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-12 d-flex align-items-center">
                            <p class="copyright-text">Copyright © Mango</p>


                        </div>



                        <div class="col-lg-3 col-12 mt-2 d-flex align-items-center mt-lg-0">
                            <p>Design: <a class="sponsored-link" rel="sponsored" href="https://www.tooplate.com" target="_blank">by Mango</a></p>
                        </div>

                        <a class="back-top-icon bi-arrow-up smoothscroll d-flex justify-content-center align-items-center" href="#top"></a>

                    </div>
                </div>
            </div>
        </footer>
</body>